<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049376513356-jbu123ode1a7p0jlqsl5dlehiciau6vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049376513356-jbu123ode1a7p0jlqsl5dlehiciau6vt</string>
	<key>API_KEY</key>
	<string>AIzaSyD-mykX24gVRXtfJscFA5BeskWNDxOLI_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1049376513356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.CodesBinary.Quokka</string>
	<key>PROJECT_ID</key>
	<string>quokka-10b8f</string>
	<key>STORAGE_BUCKET</key>
	<string>quokka-10b8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049376513356:ios:a17a60baef4b05601943e9</string>
</dict>
</plist>